//Fonte
$fontPrincipal: Roboto, sans-serif;

//Cores
$corDeFundo: #f5f6fa;
$corDeFundoMenu: #182C61;
$corBotao: #44bd32;
$corBoataoHover: #4cd137;
$corFonteBotao: #fff;

//Breakpoints
$mobile: 767px;
$tablet: 1023px;